# Price Prediction

## 1. Importing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## 2. Loading Data

### 2.1 Read file data

In [10]:
df = pd.read_parquet('../data/green_tripdata_2024-04.parquet')

### 2.2 Print data

In [11]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-04-01 00:18:50,2024-04-01 00:19:48,N,1.0,146,146,1.0,0.15,3.7,1.0,0.5,0.00,0.0,NaN,1.0,6.20,2.0,1.0,0.00
1,2,2024-04-01 00:56:16,2024-04-01 01:12:56,N,1.0,65,225,1.0,3.06,17.7,1.0,0.5,4.04,0.0,NaN,1.0,24.24,1.0,1.0,0.00
2,2,2024-04-01 00:23:09,2024-04-01 00:33:03,N,1.0,226,146,1.0,1.95,11.4,1.0,0.5,3.48,0.0,NaN,1.0,17.38,1.0,1.0,0.00
3,2,2024-03-31 22:34:23,2024-03-31 22:45:33,N,1.0,74,116,1.0,1.93,12.8,1.0,0.5,3.06,0.0,NaN,1.0,18.36,1.0,1.0,0.00
4,2,2024-03-31 23:21:41,2024-03-31 23:29:40,N,1.0,236,238,1.0,1.50,10.7,1.0,0.5,0.80,0.0,NaN,1.0,16.75,1.0,1.0,2.75

### 2.3 More info data

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56471 entries, 0 to 56470
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               56471 non-null  int32
 1   lpep_pickup_datetime   56471 non-null  datetime64[us]
 2   lpep_dropoff_datetime  56471 non-null  datetime64[us]
 3   store_and_fwd_flag     54483 non-null  object
 4   RatecodeID             54483 non-null  float64
 5   PULocationID           56471 non-null  int32
 6   DOLocationID           56471 non-null  int32
 7   passenger_count        54483 non-null  float64
 8   trip_distance          56471 non-null  float64
 9   fare_amount            56471 non-null  float64
 10  extra                  56471 non-null  float64
 11  mta_tax                56471 non-null  float64
 12  tip_amount             56471 non-null  float64
 13  tolls_amount           56471 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  56471 non-null  float64
 16  total_amount           56471 non-null  float64
 17  payment_type           54483 non-null  float64
 18  trip_type              54475 non-null  float64
 19  congestion_surcharge   54483 non-null  float64
dtypes: datetime64[us](2), float64(14), int32(3), object(1)
memory usage: 8.0+ MB

## 3. Feature Engineering

### 3.1 Math duration = dropoff_datetime - pickup_datetime

In [13]:
df['duration'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime

### 3.2 Convert duration data. date => minutes

In [14]:
df['duration'] = df['duration'].dt.total_seconds() / 60

### 3.3 Print new data: duration

In [15]:
df['duration'].head()

0     0.966667
1    16.666667
2     9.900000
3    11.166667
4     7.983333
Name: duration, dtype: float64

## 4. Show all data

### 4.1 Use the variable option to see how many are in use and see all the data inside that variable

In [16]:
df_size = df.shape